body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:black;
    margin: 0;
    font-family: Arial, sans-serif;
}

.stopwatch {
    background-color: bisque;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#display {
    font-size: 48px;
    margin-bottom: 20px;
}

.buttons button {
    font-size: 16px;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#startStopBtn {
    background-color:black;
    color: white;
}

#resetBtn {
    background-color:black;
    color: white;
}

#lapBtn {
    background-color:black;
    color: white;
}

#laps {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

#laps li {
    padding: 5px 0;
    border-top: 1px solid #ddd;
}